* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header__bg {
  background: url(../img/banner-2.png) center/cover no-repeat;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bg .header {
  margin: auto;
  text-align: center;
}

.header__bg .header h1 {
  color: #000;
  font-size: 32px;
  margin: 20px 0;
  color: #fff;
  margin-bottom: 20px;
}

.header__bg .header p {
  letter-spacing: 3px;
  color: #fff;
}

.main {
  margin: 10px 0;
}

.main .container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.main .container .main-header {
  background: #47a3ff;
  height: 46px;
}

.main .container .main-header .navbar-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .main-header .navbar-list li {
  padding: 0 20px;
  font-size: 15px;
  color: #fff;
}

.main .container .main-header .navbar-list li:last-child {
  margin-left: auto;
}

.main .container .main-body {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .main-body .main-body__left {
  width: 30%;
}

.main .container .main-body .main-body__left .main-body__left-block {
  width: 100%;
}

.main .container .main-body .main-body__left .main-body__left-block h2 {
  color: #000;
  font-size: 32px;
  margin: 20px 0;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-about-img {
  background: url(../img/avatar-2.jpg) center/cover no-repeat;
  padding-top: 100%;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-about-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 8px;
  -webkit-box-shadow: 0px 1px 10px rgba(153, 153, 153, 0.734);
          box-shadow: 0px 1px 10px rgba(153, 153, 153, 0.734);
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-about-file .main-body__left-about-file-keys-item {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-about-file li {
  line-height: 1.4;
  font-size: 15px;
  margin-bottom: 10px;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course-img-1 {
  background: url(../img/backend.png) center/cover no-repeat;
  padding-top: 100%;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course-img-2 {
  background: url(../img/tdknlt.png) center/cover no-repeat;
  padding-top: 100%;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course {
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course:hover {
  cursor: pointer;
  opacity: .8;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course-content {
  padding: 10px 8px;
  -webkit-box-shadow: 0px 1px 10px rgba(153, 153, 153, 0.734);
          box-shadow: 0px 1px 10px rgba(153, 153, 153, 0.734);
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course-content .main-body__left-course-content-name {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course-content .main-body__left-course-content-raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  margin: 10px 0;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course-content .main-body__left-course-content-raiting span {
  padding: 2px;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course-content .main-body__left-course-content-raiting .main-body__left-course-content-raited {
  color: #f5d91d;
}

.main .container .main-body .main-body__left .main-body__left-block .main-body__left-course-content .main-body__left-course-content-description {
  font-size: 12px;
  color: #999;
  text-align: justify;
  line-height: 1.5;
}

.main .container .main-body .main-body__right {
  width: 66%;
}

.main .container .main-body .main-body__right h2 {
  color: #000;
  font-size: 32px;
  margin: 20px 0;
}

.main .container .main-body .main-body__right p {
  font-size: 15px;
  color: 15px;
}

.main .container .main-body .main-body__right small {
  font-size: 12px;
}

.main .container .main-body .main-body__right .main-body__right-skill,
.main .container .main-body .main-body__right .main-body__right-quote,
.main .container .main-body .main-body__right .main-body__right-website,
.main .container .main-body .main-body__right .main-body__right-about {
  margin: 30px 0;
}

.main .container .main-body .main-body__right .main-body__right-skill-languages-name {
  color: #000;
  font-weight: 400;
  text-shadow: 0 0px 1px #333;
}

.main .container .main-body .main-body__right .main-body__right-skill-languages-progress {
  margin-left: auto;
  width: 550px;
  background-color: rgba(218, 218, 218, 0.912);
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.main .container .main-body .main-body__right .main-body__right-skill-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.main .container .main-body .main-body__right .main-body__right-skill-percent--css {
  width: 70%;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  background-color: rgba(62, 148, 240, 0.844);
}

.main .container .main-body .main-body__right .main-body__right-skill-percent--js {
  width: 50%;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  background-color: #fcf52e;
}

.main .container .main-body .main-body__right .main-body__right-skill-percent--html {
  width: 90%;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  background-color: rgba(235, 79, 79, 0.844);
}

.main .container .main-body .main-body__right .main-body__right-skill-percent--golang {
  width: 85%;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  background-color: rgba(208, 12, 12, 0.844);
}

.main .container .main-body .main-body__right .main-body__right-quote-body {
  background-color: #f3f2f2;
  padding: 20px;
  border-left: 4px solid #999;
  border-radius: 4px;
}

.main .container .main-body .main-body__right .main-body__right-quote-body-text {
  line-height: 2.5;
  color: #999;
  font-style: italic;
}

.main .container .main-body .main-body__right .main-body__right-website-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[auto];
      grid-template-columns: repeat(auto, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}

.main .container .main-body .main-body__right .main-body__right-website-item {
  text-align: center;
}

.main .container .main-body .main-body__right .main-body__right-website-item i {
  padding: 40px;
  border-radius: 50%;
  background-color: #47a3ff;
  color: #Fff;
  margin-bottom: 20px;
}

.main .container .main-body .main-body__right .main-body__right-website-item h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.main .container .main-body .main-body__right .main-body__right-website-item p {
  text-align: justify;
}

.footer {
  height: 46px;
  background-color: #47a3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer h4 {
  margin: auto;
  font-size: 15px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */