$MD: 992px;
$XL: 1024px;
@mixin responsive ($width) {
    @if $width == MD {
        @media only screen and (max-width: $MD) {@content;}
    }
    @else if $width == XL {
        @media only screen and (min-width: #{$MD + 1px}) {@content;}
    }
}

.app {
    @include responsive(MD) {
        .header {
            padding: 2em 1em;
            .nav-login {
                display: block;
            }
            .navbar-nav{
                padding-top: 2em;
            }
            
        }
        .main {
            .block-8 {
                display: none;
            }
            .heading {
                padding-left: 4em;
                padding-right: 4em;
                text-align: center;
                h1 {
                    font-size: 30px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    margin-bottom: .3em;
                    line-height: 1.6;
                }
                p {
                    font-weight: 100;
                    margin-bottom: 1.2em;
                    font-size: 14px;
                }
            }
            .banner {
                background: url(../img/background-1.png) center /cover no-repeat;
                z-index: 500;
                .banner__btn {
                    button {
                        display: block;
                        margin: 0 auto 1.5em;
                    }
                }
                .card {
                    margin-bottom: 1.5em;
                    img {
                        width: 40px;
                        height: 30px;
                        margin-bottom: .5em;
                    }
                    h5 {
                        font-size: 22px;
                        letter-spacing: .5px;
                    }
                }
            }
            .body {
                .block-2 {
                    .card {
                        padding-top: 5em;
                        img {
                            width: 44px;
                            height: 44px;
                        }
                        .card-title {
                            font-size: 22px;
                        }
                        .card-text {
                            font-size: 16px;
                        }
                    }
                    .border {
                        border: 0 !important;
                    }
                }
                .block-3 {
                    .number {
                        font-size: 60px;
                        font-weight: 700;
                    }
                    .text {
                        font-size: 14px;
                        font-weight: 1000;
                    }
                }
                .block-4 {
                    .card-body {
                        background-color: rgba(238, 238, 238, 0.548);
                    }
                }
                .block-5 {
                    padding: 3em 0 6em;
                    .bg-video {
                        background: url(../img/bg-video.png) top center /cover no-repeat;
                        padding-top: 150%;
                        position: relative;
                        div{
                            position: absolute;
                            top: 40%;
                            width: 100%;
                            img {
                                box-shadow: 0 0 4px #333;
                                border-radius: 50%;
                            }
                        }
                    }
                    .bg-video::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        content: "";
                        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(39, 39, 39, 0.575) );
                    }
                }
            }
            .block-6 {
                background-color: #f3f3f3d9;
                letter-spacing: 1px;
                .price {
                    a {
                        display: block;
                        text-decoration: none;
                    }
                }
                .col-lg-4:nth-child(1),
                .col-lg-4:nth-child(3) {
                    background-color: #fff;
                }
            }
            .block-7 {
                letter-spacing: 1px;
                overflow: hidden;
            }

        }
        .footer {
            .bg-footer {
                background-image: linear-gradient(to right, rgba(20, 20, 172, 0.932), rgba(218, 20, 112, 0.747));
                .list {
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            color: #eee;
                            font-weight: 100;
                            font-size: 10px;
                            margin-bottom: .5em;
                            letter-spacing: .5px;
                            img {
                                width: 16px;
                                height: 16px;
                                margin-right: .5em;
                            }
                        }
                        .thead {
                            font-size: 14px;
                            margin-bottom: .5em;
                        }
                    }
                }
            }
            .social {
                .icon-social-2{
                    display: none;
                }
            }
            .btn-top {
                display: none;
                background-image: linear-gradient(to bottom right, rgb(248, 56, 168), rgb(126, 97, 206));
                position: fixed;
                bottom: 10px;
                right: 10px;
                z-index: 100;
                a {
                    text-decoration: none;
                }
            }
        }
        
    }

    @include responsive(XL) {
        .header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1030;
            .nav-login {
                display: flex;
            }
            .nav-link,a {
                color: #fff;
            }
        }
        .main {
            .heading {
                padding-left: 22em;
                padding-right: 22em;
                h1 {
                    font-weight: 700;
                   padding-bottom: .5em;
                }
                p{
                    padding: 0 0em;
                    font-size: 15px;
                    font-family:400;
                    color: #ddd;
                    padding-bottom: .5em;
                }
            }
            .banner {
                background: url(../img/background-1.png) center /cover no-repeat;
                position: relative;
                .wraper-heading {
                    margin-top: 10em;
                }
                .banner__btn {
                    button {
                        margin: 0 .5em;
                    }
                }
                .banner-list {
                    position: relative;
                    bottom: -120px;
                    .card {
                        border: none;
                        box-shadow: 0 0 4px rgba(148, 146, 146, 0.329);
                        margin-bottom: 1.5em;
                        img {
                            width: 40px;
                            height: 30px;
                            margin-bottom: .5em;
                        }
                        h5 {
                            font-size: 22px;
                            letter-spacing: .5px;
                        }
                    }
                }
            }
            .body {
                padding-top: 20em;
                .heading {
                    h1{
                        font-size: 50px;
                        padding: 0 4em;
                        margin-bottom: .5em;
                    }
                    p {
                        padding: 0 18em;
                        color: #999;
                    margin-bottom: 5em;
                    }
                }
                .block-2 {
                    .card {
                        margin-bottom: 3em;
                        padding: 1em;
                        margin-bottom: 26px  !important;;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                        .card-body {
                            .card-title {
                                font-size: 16px;
                                font-weight: 700;
                                margin-bottom: 8px;
                            }
                            .card-text {
                                font-size: 14px;
                            }
                        }
                    }
                    .border {
                        border: 1px solid #999;
                    }
                }
                .block-3 {
                    .number {
                        font-size: 60px;
                        font-weight: 700;
                    }
                    .text {
                        font-size: 14px;
                        font-weight: 1000;
                    }
                }
                .block-4 {
                    .col-lg-4, .col-lg-8 {
                        padding: 0;
                    }
                    .card-img-top {
                        padding: 0;
                        height: 100%;
                    }
                    .card-body {
                        background-color: rgba(238, 238, 238, 0.248);
                        padding: 3em 2em;
                        .card-title {
                            margin-bottom: 0;
                        }
                        .card-text {
                            font-size: 15px;
                            font-weight: 100;
                        }
                    }
                }
                .block-5 {
                    display: none;
                }
            }
            .block-6 {
                background-color: #f3f3f3d9;
                letter-spacing: 1px;
                padding: 0 1em;
                .col-lg-4 {
                    border-radius: 8px;
                    .heading {
                            padding-left: 0;
                            padding-right: 0;
                            text-align: c;
                        h1 {
                            font-size: 50px;
                        }
                        p {
                            font-weight: 400;
                            color: rgb(180, 179, 179);
                            padding: 0 1em;
                        }
                    }
                    .price {
                        a {
                            display: block;
                            text-decoration: none;
                        }
                    }
                }
                .col-lg-4:nth-child(1),
                .col-lg-4:nth-child(3) {
                    margin-top: 3em;
                    background-color: #fff;
                }
            }
            .block-7 {
                display: none;
            }
            .block-8 {
                position: relative;
                .box-1,.box-2 {
                    width: 100%;
                    height: 400px;
                }
                .box-2{
                    background: #eee;
                    padding: 0 10em 2em;
                    h1 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .float {
                    position: absolute;
                    top: 22%;
                    left: 12%;
                    z-index: 10;
                }
            }
        }
        .footer {
            .bg-footer {
                background-image: linear-gradient(to right, rgba(20, 20, 172, 0.932), rgba(218, 20, 112, 0.747));
                .ps-5 {
                    padding: 2m 10em !important;
                }
                .list {
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            color: #eee;
                            font-weight: 100;
                            font-size: 14px;
                            margin-bottom: .5em;
                            letter-spacing: .5px;
                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: .5em;
                            }
                        }
                        .thead {
                            font-size: 20px;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
            .social {
                a {
                    text-decoration: none;
                }
                .mt-4 {
                    margin-top: 8px !important;
                }
                .icon-social-1 {
                    display: none;
                }
            }
            .btn-top {
                background-image: linear-gradient(to bottom right, rgb(255, 10, 153), rgb(87, 56, 173));
                position: fixed;
                bottom: 10px;
                right: 10px;
                z-index: 100;
                display: none ;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}